[Unit]
Description=zboxapi
After=network.target

[Service]
Type=simple
ExecStart=/root/.local/bin/zboxapi
Environment="ZBOXAPI_ROOT_PATH=/zboxapi"
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
